<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LinkedIn Login, Sign in | LinkedIn</title>
    <link rel="stylesheet" href="./css/Sign-In.css" />
    <link rel="icon" href="https://static-exp1.licdn.com/sc/h/al2o9zrvru7aqj8e1x2rzsrca">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <div id="main-container-im">
        <header>
            <div class="nav-base-im">
                <a onclick=pop() class="nav-container-im">
                    <img class="header-logo-im" src="https://static-exp1.licdn.com/sc/h/6363oetsghb0zmki2rtnh3f83"
                        alt="Linkedin Logo" />
                </a>
            </div>
        </header>
        <form action="/login" method="post">
        <div id="form-main-content">
            <div class="form-wrap">
                <div>
                    <img class="form-logo" src="images/Screenshot_2.jpg" alt="" />
                </div>
                <div>
                    <h3 class="form-h1">Almost there! Sign in or create an account</h3>
                </div>
                <div class="input-cont">
                    <div class="form-p-section">
                        <p class="para">
                            You can use the same email address and password <br />
                            that you use on LinkedIn.com
                        </p>
                    </div>
                    <div>
                        <input id="emailStore" type="text" placeholder="Email or Phone" name="email"/>
                        <br /><br />
                        <input type="password" placeholder="Password" name="password" /><br /><br />
                        <!-- <a id="signIn" onclick="login()">Sign in</a> -->
                        <div id="wrongPassword">
                            <%= y %>
                        </div>
                        <button id="login-btn"type="submit" >Sign In</button>
                        
                    </div>
                    <!--  -->
                    <div class="form-a">
                        
                        <a href="" type="button" data-bs-toggle="modal" data-bs-target="#myModal" id="forgot">Forgot password?</a>

       <!-- popup  starts-->

       <div class="modal " id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                     <h5>Set your new password here</h5> 
                    </div> 
              </div>
  <div class="modal-body model">
      <form>
          <div class="form-group">
            <label class="col-form-label">Enter Email-id</label>
            <input type="text" class="form-control" id="emailChanger">
          </div>
  
          <div class="form-group">
              <label class="col-form-label">Enter New Passsword</label>
              <input type="password" class="form-control" id="passwordChanger">
            </div>
          </form>
  </div>
  
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>
            
        </div>
    </div> 
    </div>
    <!-- popup end -->


                    </div>

             <!--  -->
                    <div class="form-new">
                        <p>New to LinkedIn?<span><a href="signup"> Join now</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </form>
        <footer>
            <div class="footBar">
                <div><img src="../images/Screenshot_2.jpg" /></div>
                <div>&copy;2021</div>
                <div>About</div>
                <div>Accessibility</div>
                <div>User Agreement</div>
                <div>Privacy Policy</div>
                <div>Cookie Policy</div>
                <div>Copyright Policy</div>
                <div>Brand Policy</div>
                <div>Guest Control</div>
                <div>Community Guidelines</div>
                <div>Language &#9660;</div>
            </div>
        </footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</html>
<script>
    function pop(){
        alert("You need to login first!");
    }
    let x = document.getElementById("login-btn");
    x.addEventListener("click",set);
    async function set(){
        let y = document.getElementById("emailStore").value;
        let z ={
            email:y,
        }
        localStorage.setItem("user", JSON.stringify(z));
    }
  

    
</script>
